%input-base{
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 12px;
    padding-left: 10px;

        &:focus, &:active {
            border: 1px solid $pageColor;
            outline: 0 none;
        }   
}
  


#contact{
    height: 60vh;
}

.containerContact{
    width: 780px;
    height: 300px;
    margin: 60px auto;

    .contactH2{
        margin-left: 250px;  
        margin-bottom: 80px;
        font-size: 32px;
        letter-spacing: 1px;
        font-weight: 600;
        width: fit-content;

            span{
                color: $pageColor;
            }

    }
}

.ContactForm {
    display: grid;
    grid-template-columns: repeat(2, 325px);
    grid-template-rows: repeat(4, 704);
    column-gap: 25px;
    row-gap: 35px;
}


.name{
    grid-column: 1/3;
    height: 38px;
    @extend %input-base;
       
  }

  .emailAdress{
    @extend %input-base;
    height: 38px;
  }

  .subject{
    @extend %input-base;
    height: 38px;
  }


 .message{
    grid-column: 1/3;
    @extend %input-base;
    height: 182px;
    padding-top: 10px;
 }

.ContactButton{
    width: 170px;
    height: 40px;
    color:white;
    font-size: 15px;
    border: 2px solid $pageColor;
    border-radius: 3px;
    cursor: pointer;
    letter-spacing: 1px;
    user-select: none;
    font-weight: 600;
    background: $pageColor;
    transition: all 500ms ease;
   
    
        &:hover{
            background: none;
            color:black;
        }
  }

