@import './colors.scss';
@import './navBar.scss';
@import './textAnimation.scss';
@import './main.scss';
@import './about.scss';
@import './contact.scss';


body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin:0;
}



ul li{
    list-style: none;
}

a{
    text-decoration: none;
}


  
 

   
   
 

      
