html{
  margin:0;
  padding:0;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 1;
}
.navbar .navContainer {
  display: flex;
  justify-content: center;
  transition: background-color 800ms linear;
}
.navbar .navContainer ul li {
  margin-right: 50px;
}
.navbar .navContainer ul li a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
}
.navbar .navContainer ul li a:link, .navbar .navContainer ul li a:visited {
  text-decoration: none;
  color: white;
}

.navContainer ul {
  width: 30%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  transition: background-color 800ms linear;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.nav-notActive {
  background-color: black;
}

.nav-active {
  background-color: white;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.top::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 5px;
  bottom: 11px;
  transition: all 500ms ease;
  background-color: white;
}
.top:hover::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 35px;
  bottom: 11px;
  background-color: white;
}

.scroll::before {
  background-color: black;
  content: "";
  position: absolute;
  height: 2px;
  width: 5px;
  bottom: 11px;
  transition: all 500ms ease;
}
.scroll:hover::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 35px;
  bottom: 11px;
  background-color: black;
}

.sentence-anim {
  animation: typewriter 1s steps(50) 1s 2 alternate both, blink 0.6s linear 2 alternate;
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  50% {
    width: 8.5em;
  }
  100% {
    width: 8.5em;
  }
}
@keyframes blink {
  0% {
    border-right: 4px solid white;
  }
  40% {
    border-right: 4px solid white;
  }
  60% {
    border-right: none;
  }
  100% {
    border-right: none;
  }
}
.hidden {
  opacity: 0;
}

.background {
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.9;
}

main {
  background-image: url(../pic/Untitled-1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
main .wraper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 160px;
  justify-content: center;
  margin-top: 170px;
}
main .wraper .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}
main .wraper a {
  display: inline-block;
  color: black;
  font-size: 15px;
  border: 2px solid #f38f67;
  text-align: center;
  vertical-align: middle;
  margin-right: 20px;
  padding: 8px 30px;
  border-radius: 3px;
  cursor: pointer;
  letter-spacing: 3px;
  user-select: none;
  font-weight: 600;
  background: #f38f67;
  transition: all 500ms ease;
}
main .wraper a:hover {
  background: none;
  color: white;
}

.sentence {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  width: 8.5em;
  border-right: 4px solid white;
  font-size: 75px;
  white-space: nowrap;
  font-weight: bold;
}

#about {
  width: 100%;
  background-color: #f5f5f5;
  height: 70vh;
  padding: 120px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#about h1 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 700;
  width: 200px;
  margin: auto auto;
}
#about h1 span {
  color: #f38f67;
}
#about article {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 80px;
}

.picture {
  border-radius: 20%;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  block-size: fit-content;
}
.picture img {
  height: 400px;
  border-radius: 20%;
  border: 1px solid black;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
.info h2 {
  color: #f38f67;
  font-size: 30px;
}
.info p {
  font-size: 15px;
}

.links ul {
  display: flex;
  gap: 20px;
}
.links ul li:nth-child(1) {
  margin-top: 5px;
}
.links .linkdin {
  width: 30px;
}
.links .github {
  width: 35px;
}
.links .email {
  width: 40px;
}

.message, .subject, .emailAdress, .name {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 12px;
  padding-left: 10px;
}
.message:focus, .subject:focus, .emailAdress:focus, .name:focus, .message:active, .subject:active, .emailAdress:active, .name:active {
  border: 1px solid #f38f67;
  outline: 0 none;
}

#contact {
  width: 100%;
  height: 60vh;
}

.containerContact {
  width: 780px;
  height: 300px;
  margin: 60px auto;
}
.containerContact .contactH2 {
  margin-left: 250px;
  margin-bottom: 80px;
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 600;
}
.containerContact .contactH2 span {
  color: #f38f67;
}

.ContactForm {
  display: grid;
  grid-template-columns: repeat(2, 325px);
  grid-template-rows: repeat(4, 704);
  column-gap: 25px;
  row-gap: 35px;
}

.name {
  grid-column: 1/3;
  height: 38px;
}

.emailAdress {
  height: 38px;
}

.subject {
  height: 38px;
}

.message {
  grid-column: 1/3;
  height: 182px;
  padding-top: 10px;
}

.ContactButton {
  width: 170px;
  height: 40px;
  color: white;
  font-size: 15px;
  border: 2px solid #f38f67;
  border-radius: 3px;
  cursor: pointer;
  letter-spacing: 1px;
  user-select: none;
  font-weight: 600;
  background: #f38f67;
  transition: all 500ms ease;
}
.ContactButton:hover {
  background: none;
  color: black;
}

body {
  font-family: "Open Sans", sans-serif;
  margin:0;
  padding:0;
  min-width: fit-content;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .ContactForm {
    display: grid;
    grid-template-columns: repeat(2, 225px);
  }
}


@media (max-width: 480px) {
  .navContainer ul{
    flex-direction: column;
  }

  .containerContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    width: inherit;
    margin-top: 120px;
  }
  .containerContact .contactH2{
    margin:0;
  }
 .ContactForm{
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 15px;
 }

 #contact{
   width: 100vw;
 }

 #about{
   height: 100vh;
 }
 #about article{
   flex-direction: column;
   align-items: center;
   gap:0;
   margin: 0;
 }
 #about article .info{
   width: 70%;
 }

 #about article img{
   max-width: 90vw;
 }

 #about h1{
   margin: 0;
 }
}