@import './colors.scss';
@import './navBar.scss';
@import './textAnimation.scss';
@import './main.scss';
@import './about.scss';
@import './contact.scss';
@import './work.scss';


body{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin:0;
}



ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

@media (max-width: 768px) {
 
    main .wraper .container .sentence{
        font-size: 8vw;
    }
  
    #about{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: initial;
      padding-top: 40px;
    }
  
    #about .picture{
    width: fit-content;
    }
  
    #about article{
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;
    }
  
    #contact .containerContact{
     width: initial;
    }
  
    #contact .containerContact .ContactForm .name{
      max-width: 550px;
    }
  
    #contact .containerContact .ContactForm .message{
      max-width: 550px;
    }
  
    #contact .containerContact .ContactForm .emailAdress,  #contact .containerContact .ContactForm .subject{
      max-width: 550px;
    }
  
    #contact .containerContact .ContactForm{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    }
  
  }
  
  @media (max-width: 480px) {
    .navContainer .ulNav {
     display: none;
     flex-direction: column;
     width: 100%;
   }
  
   .navContainer .ulNav.show {
     display: flex;
     gap: 10px;
     align-items: center;
   }
  
   .navContainer .ulNav.show .top::before{
     display: none;
   }
  
   .navContainer .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  
  }
  
  #about{
  padding-bottom: 20px;
  }
  
  #about img{
    max-width: 200px;
    max-height: 200px;
  }
  
  #about .picture{
  margin: auto;
  }
  
  .background main{
    background-size: contain;
  }
  
  #about .info p{
    font-size: 4vw;
    width: inherit;
  }
  
  #about .info{
  max-width: 479px;
  padding: 20px;
  }
  
  #about .info h2{
    margin: auto;
    margin-bottom: 20px;
  }
  
  #about article aside{
    margin-top:20px;
  }
  
  .info .skills-list {
    font-size: 4vw;
  }
  
  .containerContact .contactH2 {
    margin: auto;
    margin-bottom: 30px;
  }
  #contact .containerContact .ContactForm {
    padding: 0;
    row-gap: none;
  }
  
  #contact .containerContact .ContactForm input, #contact .containerContact .ContactForm textarea{
    margin-bottom: 20px;
  
  }
  
  main .wraper .container .sentence{
    font-size: 8vw;
  }
  
  #contact{
    padding: 20px;
  }
  
  main .wraper a{
    margin-bottom: 20px;
    padding: 4px 15px;
  }
  
  }
   
  


  
 

   
   
 

      
